#page-wrapper
  .row
    .col-lg-12
      %h1.page-header CNCs
    / /.col-lg-12
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
        / /.panel-heading
        .panel-body
          .dataTable_wrapper
            %table#dataTables-example.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Name
                  %th Code
              %tbody{"data-bind" => "foreach: cncs()"}
                %tr.data-row{"data-toggle" => "context"}
                  %td{"data-bind" => "text: name()"}
                  %td{"data-bind" => "text: code()"}

%script{src: '/js/application/cnc_list_helper.js'}
:javascript
  var cncListHelper;
  var data = #{@data};
  $(document).ready(function () {
      var config = {
          cncListUrl: '/cnc/list/',
      };
    cncListHelper = new CncListHelper(data,config);
    cncListHelper.setup({})
  });

