#page-wrapper
  .row
    .col-lg-12
      %h1.page-header Item Types
    / /.col-lg-12
  / /.row

  #imagemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{"data-dismiss" => "modal"}
      .modal-content
        .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %img.imagepreview{:src => "", :style => "width: 100%;"}

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
        / /.panel-heading
        .panel-body
          .dataTable_wrapper
            %table#dataTables-example.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th SAP Number
                  %th Material Type
                  %th Description
                  %th Color
                  %th Image
                  %th Rating
                  -#%th Stats
              %tbody{"data-bind" => "foreach: item_types()"}
                %tr.data-row{"data-toggle" => "context"}
                  %td
                    %a{"data-bind" => "text: sap_number(), :attr: { 'href': '/items?sap_number=' + sap_number() }"}
                  %td{"data-bind" => "text: material_type()"}
                  %td{"data-bind" => "text: description()"}
                    %td{"data-bind" => "style: { 'background-color': color() }"}
                  %td
                    %a.pop{href: '#'}
                      %img.item_type_thumbnail{"data-bind" => "click: $root.openImage, attr: {src: image()}"}
                  %td{"data-bind" => "text: rating()"}
                  -#%td
                    %a{href: '#'}
                      .glyphicon.glyphicon-stats{"data-bind" => "click: $root.displayStats"}

%script{src: '/js/application/item_type_list_helper.js'}
:javascript
  var item_typeListHelper;
  var data = #{@data};
  $(document).ready(function () {
      var config = {
          item_typeListUrl: '/item_type/list/',
      };
    item_typeListHelper = new ItemTypeListHelper(data,config);
    item_typeListHelper.setup({})
  });

