#page-wrapper
  .row
    .col-lg-12
      %h2.page-header Warehouses
    / /.col-lg-12
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
        / /.panel-heading
        .panel-body
          .dataTable_wrapper
            %table#dataTables-example.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Name
                  %th Code
              %tbody{"data-bind" => "foreach: warehouses()"}
                %tr.data-row{"data-toggle" => "context"}
                  %td{"data-bind" => "text: name()"}
                  %td{"data-bind" => "text: code()"}

%script{src: '/js/application/warehouse_list_helper.js'}
:javascript
  var warehouseListHelper;
  var data = #{@data};
  $(document).ready(function () {
      var config = {
          warehouseListUrl: '/warehouse/list/',
      };
    warehouseListHelper = new WarehouseListHelper(data,config);
    warehouseListHelper.setup({})
  });

