/ hbox layout
#jobs_container.hbox.hbox-auto-xs.bg-light{"ng-init" => "app.settings.asideFolded = true; app.settings.asideFixed = true; app.settings.asideDock = false; app.settings.container = false; app.hideAside = false "}

  / main column 1
  #content_left.col.w-md.lter.b-l
    .vbox
      .wrapper.b-b.b-light
        .font-thin.h4{"data-bind" => "text: $root.headerTitle()"}
      .row-row
        .cell
          .cell-inner
            .wrapper-md
              .col-md-12
                #{@result[:characteristic]}
