/ hbox layout
.hbox.hbox-auto-xs.bg-light{"ng-init" => "app.settings.asideFolded = true; app.settings.asideFixed = true; app.settings.asideDock = false; app.settings.container = false; app.hideAside = false "}

  / main column 1
  .col.w-md.lter.b-l
    .vbox
      .wrapper.b-b.b-light
        .font-thin.h4 Mac Address Details
      .row-row
        .cell
          .cell-inner
            .wrapper-md
              %span TODO: Fetch and display mac address details as required
