#page-wrapper
  .row
    .col-lg-8
      %h2.page-header Stock Level Reports
    .col-lg-4
      #alert.alert.alert-dismissable.page-header
        %button.close.alert-close{"type"=>"button", "aria-hidden"=>"true"}x
        #alert-text
  #statsmodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{"data-dismiss" => "modal"}
      .modal-content
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        .modal-body
          .dataTable_wrapper
            %table#statsTable.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th ID
                  %th Description
                  %th Quantity
              %tbody

  -##statsChartModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{"data-dismiss" => "modal"}
      .modal-content
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        .modal-body
          .canvas-holder.half
            %canvas#myChart{style:'width:518px;height:400px;'}

  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
        / /.panel-heading
        .panel-body
          .dataTable_wrapper
            %table#dataTables-example.table.table-striped.table-bordered.table-hover.table-vcenter
              %tbody{"data-bind" => "foreach: stock_takes()"}
                %tr{"data-toggle" => "context"}
                  %td.col-sm-2
                    %a.btn.btn-outline.btn-info.btn-sm{"data-bind" => "text: created_at(), click: function() { $root.displayStats( stats() ); }"}
                    -#%i.fa.fa-pie-chart{"data-bind" => "click: function() { $root.displayStatsChart( stats() ); }"}
                  %td.col-sm-1
                    %a.btn.btn-info.btn-sm{ href: '', "data-bind" => "click: function() { $root.emailStats( _id(), created_at() ); }"} Email
                    %a.btn.btn-info.btn-sm{ rel: "nofollow", "data-bind"=> ":attr: { 'target': '_blank', 'href': '/pdfs/'+ _id() + '.pdf' }"} PDF
                    %a.btn.btn-info.btn-sm{ rel: "nofollow", "data-bind"=> ":attr: { 'target': '_blank', 'href': '/pdfs/'+ _id() + '.csv' }"} CSV

  -#.row
    .col-lg-6
      -#.canvas-holder.half
        -#%canvas#myChart{style:'width:518px;height:400px;'}
    .col-lg-4
      .panel-body
        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th
                %th Location
                %th Count
            %tbody{"data-bind" => "foreach: stock_takes()"}
              %tr.data-row{"data-toggle" => "context"}
                -#%td{"data-bind" => ":attr: {'style' : 'background-color: ' + color() + ';'}"}
                %td{"data-bind" => "text: created_at()"}
                -# %td{"data-bind" => "text: ()"}

%script{src: '/js/Chart.min.js'}
%script{src: '/js/application/stock_take_list_helper.js'}
:javascript
  var stockTakeListHelper;
  var data = #{@data};
  $(document).ready(function () {
      var config = {
          stock_takeListUrl: '/stock_take/list/',
      };
    stockTakeListHelper = new StockTakeListHelper(data,config);
    stockTakeListHelper.setup({})
  });

